body{
  
  font-family: 'Krona One', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  background-image: url("./assets/background-green-6466.jpg");
  color: #02203B;
  
}

a:link{
  color: darkred;
}
a:hover{
  color: orangered;
}
a:visited{
  color: darkslategray;
}

h1{
  text-align: center;
}

h2{
  font-size: 20px;
  margin: 5px;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  display: block;
  font-size: 14px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.scroll_to{
  display: block;
  font-size: 20px;
  padding: 10px;
  color: #FCE505;
  background-color: #02203B;
  border-color: darkgreen;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

button:focus {
  outline:0;
}

.radio-buttons input[type="radio"] {
  opacity:0.01;
  z-index:100;
  
}

.radio-buttons input[type="radio"]:checked + label,
.Checked + label {
  background:#FCE505;
  color:  #02203B;
  border: 5px solid #02203B; 
}

.radio-buttons label {
   padding:5px;
   border:2px solid darkgreen; 
   cursor:pointer;
   z-index:90;
   
   background-color: #02203B;
   color: #FCE505;
}

.radio-buttons label:hover {
  border: 5px solid #FCE505; 
}

.ellipsis {
    padding: 0;
    border: none;
    font: inherit;
    color: blue;
    background-color: transparent;
    cursor: pointer;
  
}

input[type="text"],input[type="number"],select, label{
  margin: 5px;
  font-size: 20px;
  
}

input label{
  text-shadow: 1px 1px #FCE505;
}

input[type="text"],input[type="number"]{
  text-align: center;
  border: 1px solid #02203B;
}

ul{
  list-style: none;
}

li{
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  font-size: 14px;
  
}

fieldset{
  border: none;
}

.radio-buttons{
  margin-bottom: 25px;
}

.radius, .fuel-type, .limit{
  display: block;
}

.js-form-input{
  background-color: #FCE505;
  border: 5px solid #02203B;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1;
}

.loader {
  border: 16px solid #FCE505; /* yello */
  border-top: 16px solid darkred; /* dark red */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide-hours{
  display: none;
}

.box{
  width: 10px;
  height: 10px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.green{
  background-color: green;
}
.green-border{
  border: 2px solid green;
  border-radius: 1%;
}

.yellow{
  background-color: yellow;
}

.yellow-border{
  border: 3px solid yellow;
  border-radius: 1%;
}

.blue{
  background-color: steelblue;
}

.blue-border{
  border: 3px solid blue;
  border-radius: 1%;
} 

.brown{
  background-color: burlywood;
}

.brown-border{
  border: 3px solid burlywood;
  border-radius: 1%;
}

.grey{
  background-color: grey;
}

.grey-border{
  border: 3px solid grey;
  border-radius: 1%;
}

.red{
  background-color: red;
}

.red-border{
  border: 3px solid red;
  border-radius: 1%;
}

.station{
  border: 2px solid darkgreen;
  background-color:  #FCE505;
}

@media screen and (max-width: 650px){
  .radius, .fuel-type, .limit, .js-location-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
  }
}


@media screen and (max-width: 1185px){

  body{
    font-size: 14px;
  } 

  h1{
    text-shadow: 1px 1px #FCE505;
  }

  .radio-buttons input, .radio-buttons label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .radio-buttons label{
    font-size: 14px;
  }

  button{
    align-items: center;
  }

  input[type="text"],input[type="number"],select, label{
    font-size: 18px;

  }

  

  ul{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1;
  }

  .station{
    margin: 5px;
  }
}

@media screen and (min-width: 650px){

  .radio-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .station{
    display: inline-block;
    height: 200px;
    width: 90%; 
    margin: 5px;
  }

  .js-result-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

}


@media screen and (min-width: 1185px){

  h1{
    text-shadow: 1px 1px #FCE505;
  }

  ul{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
  }

  .station{
    display: inline-block;
    height: 275px;
    width: 40%;
    margin: 5px;
  }

  .js-result-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: 275px;
    flex-wrap: wrap;
  }
  

}