body{
  
  /*font-family: 'Contrail One', cursive;*/
  font-family: 'Krona One', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  background-color:#C4DDF5;
}

h1{
  color: #03417B;
}

button{
  font-size: 20px;
  padding: 10px;
  color: #FCE505;
  background-color: #03417B;
}

input[type="text"],input[type="number"],select, label{
  margin: 20px;
  font-size: 20px;
  
}


ul{
  list-style: none;
}

li{
  padding: 5px;
  display: flex;
  font-size: 14px;
  
}


.radio-buttons{
  align-self: center;
  margin-bottom: 25px;
}

.radius, .fuel-type, .limit{
  display: block;
}

.hide-hours{
  display: none;
}

@media screen and (max-width: 320px){

body{
  font-size: 14px;
}

  input[type="text"],input[type="number"],select, label{
    font-size: 18px;
    margin-left: 5px;
  }

  .js-form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1;
  }

  ul{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1;
  }
}

@media screen and (min-width: 1094px){

  .js-form-input{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex: 1 1;
  }

  ul{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
  }

}