body{
  
  font-family: 'Krona One', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  background-color:#C4DDF5;
}

h1{
  color: #03417B;
}

h2{
  font-size: 20px;
  margin: 5px;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  display: block;
  font-size: 14px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

button{
  font-size: 20px;
  padding: 10px;
  color: #FCE505;
  background-color: #03417B;
}

.ellipsis {
    padding: 0;
    border: none;
    font: inherit;
    color: blue;
    background-color: transparent;
    cursor: pointer;
  
}

input[type="text"],input[type="number"],select, label{
  margin: 20px;
  font-size: 20px;
  
}


ul{
  list-style: none;
}

li{
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  font-size: 14px;
  
}

fieldset{
  border: none;
}

.radio-buttons{
  align-self: center;
  margin-bottom: 25px;
}

.radius, .fuel-type, .limit{
  display: block;
}

.hide-hours{
  display: none;
}

.box{
  width: 10px;
  height: 10px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.green{
  background-color: green;
}
.green-border{
  border: 2px solid green;
  border-radius: 1%;
}

.yellow{
  background-color: yellow;
}

.yellow-border{
  border: 3px solid yellow;
  border-radius: 1%;
}

.blue{
  background-color: steelblue;
}

.blue-border{
  border: 3px solid blue;
  border-radius: 1%;
} 

.brown{
  background-color: burlywood;
}

.brown-border{
  border: 3px solid burlywood;
  border-radius: 1%;
}

.grey{
  background-color: grey;
}

.grey-border{
  border: 3px solid grey;
  border-radius: 1%;
}

.red{
  background-color: red;
}

.red-border{
  border: 3px solid red;
  border-radius: 1%;
}

@media screen and (max-width: 1185px){

body{
  font-size: 14px;
}

  input[type="text"],input[type="number"],select, label{
    font-size: 18px;
    margin-left: 5px;
  }

  .js-form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1;
  }

  ul{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1;
  }

  .station{
    margin: 5px;
  }
}

@media screen and (min-width: 650px){

  .station{
    display: inline-block;
    height: 250px;
    width: 90%;
   
    margin: 5px;
  }

  .js-result-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

}


@media screen and (min-width: 1185px){

  .js-form-input{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex: 1 1;
  }

  ul{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
  }

  .station{
    display: inline-block;
    height: 300px;
    width: 40%;
    margin: 5px;
  }

  .js-result-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*flex: 1 0;*/
    flex-basis: 250px;
    flex-wrap: wrap;
  }
  

}